h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
}
ul{
    border: 10px dashed peru ;
    margin-left: 30vw;
    margin-right: 30vw;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
ul a{
    color: blueviolet;
    text-decoration: none;
}
 a:hover{
    background-color: aliceblue;
    color: black;
    
}
html{
    background-color: pink;
}